doctype html
html(lang='en')
  head
    script(type='text/javascript').
      window.env = "#{env}"; // Workaround to reference `env` from `res.render('index.html', {env})`
    script(src='/javascripts/index.js').

    style.
      font-family: 'Trebuchet MS, sans-serif';

  body
    div(style='text-align:center; padding:50px 0')
      h1 Social Media NLP
      br
      button(onclick='loginClickHandler()')
        | Login with Facebook
