<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      font-family: 'Trebuchet MS, sans-serif';
    </style>
    <script>
      ((d, tag, id) => {
        let js = d.getElementsByTagName(tag)[0]
        const fjs = d.getElementsByTagName(tag)[0]

        if (d.getElementById(id)) {
          return
        }

        js = d.createElement(tag)
        js.id = id
        js.src = 'https://connect.facebook.net/en_US/sdk.js'
        fjs.parentNode.insertBefore(js, fjs)
      })(document, 'script', 'facebook-jssdk')

      function fbAsyncInit() {
        const devAppId = '1248187438583574'
        const prodAppId = '1210709702331348'

        FB.init({
          appId: devAppId,
          xfbml: true,
          version: 'v2.8'
        })

        FB.AppEvents.logPageView()
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div style="text-align:center; padding:50px 0">
      <h1>Social Media NLP</h1>
      <br />
      <button onclick="loginClickHandler()">
        Login with Facebook
      </button>
      <table id="analyzed-posts-table" style="display: none">
        <colgroup>
          <col style="width: 15%" />
          <col style="width: 85%" />
        </colgroup>
        <tr>
          <th>Sentiment</th>
          <th>Post</th>
        </tr>
      </table>
    </div>
  </body>
</html>
